@use '../abstract/variaveis';
@use '../abstract/mixins';
@use '../components/root';

#nosso-espaco {
    @include mixins.margem-central(90%);

    .detalhes {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 70px;

        .espaco-textos {
            width: 500px;

            .titulo {
                @include mixins.ff-fs-fw-c(variaveis.$ft-titulos, 31px, 400, variaveis.$cor-secundaria);
            }

            .infos {
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 22px, 400, variaveis.$cor-primaria);

            }
        }
        
        .separador {
            width: 100%;
        }

    }

    .detalhes:nth-child(2) {
        flex-direction: row-reverse;
    }
}